#cloud-config                                                                                                                                                                                                [40/92]
users:
  - default
  - name: twadmin
    gecos: twadmin
    primary_group: twadmin
    groups: users, admin
    shell: /bin/bash
    sudo: ALL=(ALL) NOPASSWD:ALL
    ssh_authorized_keys:
      - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIPle8dVoZiWKFlOdMAlyj6fK/h/y0gEiFc8hfTn9DNo9 jonny@johanns-mbp.home

bootcmd:
  - mv /etc/gitlab/gitlab.rb /etc/gitlab/gitlab.rb.old

write_files:
  - path: /etc/gitlab/gitlab.rb
    owner: 'root:root'
    permissions: '0600'
    content: |
      # set url for tls certs
      external_url '${external_url}'

      # set root password
      gitlab_rails['initial_root_password'] = "${rootPassword}"

      # Reduce the number of running workers to the minimum in order to reduce memory usage
      puma['worker_processes'] = 2
      sidekiq['max_concurrency'] = 9
      # Turn off monitoring to reduce idle cpu and disk usage
      prometheus_monitoring['enable'] = false

      # disable features
      gitlab_rails['registry_enabled'] = false
      gitlab_rails['gravatar_enabled'] = false

      ### Default project feature settings
      gitlab_rails['gitlab_default_projects_features_issues'] = false
      gitlab_rails['gitlab_default_projects_features_merge_requests'] = false
      gitlab_rails['gitlab_default_projects_features_wiki'] = false
      gitlab_rails['gitlab_default_projects_features_snippets'] = false
      gitlab_rails['gitlab_default_projects_features_builds'] = false
      gitlab_rails['gitlab_default_projects_features_container_registry'] = false

runcmd:
  - gitlab-ctl reconfigure
  # disable signup
  - echo "UPDATE application_settings SET signup_enabled = false" | gitlab-psql

  # Remove startup script from .bashrc
  - sed -i "/gitlab_setup/d" /root/.bashrc

  # Remove Apache and Static Page
  - systemctl stop apache2
  - systemctl disable apache2
  - rm -rf /var/www/html
  - apt purge -y apache2